.component1 {
  margin: 5vw 7vw;
}
.component1 .head-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.75vmax;
  color: #545454;
  line-height: 4.75vmax;
  margin: 3.5vmax 0 1.5vmax 0;
}
.component1 .head-text span {
  font-size: 5vmax;
  color: #ff5454;
}
.component1 .body-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25vmax;
  color: #969696;
  margin-right: 4vmax;
  line-height: 2.75vmax;
}
.component1 .body-text span {
  font-weight: 700;
  color: #545454;
}
.component1 .svg1-box {
  text-align: right;
}
.component1 .svg1-box .svg1 {
  width: 37vmax;
  height: 24vmax;
}
