.component5{
    padding-top: 2.275vw;
}
.component5 .card{
    width: 25.87vw;
    height: 32.5vw;
    border: none;
    margin-top: 2.5vw;
}

.component5 .svg1{
    height: 19.5vw;
    width: 19.5vw;
}

.component5 .card-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.625vw;
    line-height: 1.95vw;
    color: #545454;
}

.component5 .card-row{
    padding-left: 6.5vw;
    padding-right: 5.2vw;
    padding-top: 0.975vw;
}

.component5 .card-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.95vw;
    color: #848484;
}

.component5 .card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media screen and (max-width: 1000px)
{
    .component5 .card{
        width: 25.87vw;
        height: 40vw;
        border: none;
    }
    .component5 .card-title{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 1.75vw;
        /* line-height: 1.95vw; */
        color: #545454;
    }
    .component5 .card-text{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 1.95vw;
        color: #848484;
    }
    .component5 .card-row{
        padding-left: 7.5vw;
        padding-right: 4.5vw;
        padding-top: 0.975vw;
    }
}

@media screen and (max-width: 576px)
{
    .component5 .card-row{
        padding-left: 14vw;
        padding-right: 4.5vw;
        padding-top: 0.975vw;
    }
}