.component1 {
  margin: 5vw 8vw;
}
.component1 .component-partition {
  padding: 0;
}
.component1 .head-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.75vw;
  color: #545454;
  line-height: 4.75vw;
  margin: 3.5vw 0 1.5vw 0;
}
.component1 .head-text span {
  font-size: 5vw;
  color: #ff5454;
}
.component1 .body-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
  color: #969696;
  margin-right: 4vw;
  line-height: 2.75vw;
}
.component1 .body-text span {
  font-weight: 700;
  color: #545454;
}
.component1 .svg1-box {
  text-align: right;
}
.component1 .svg1-box .svg1 {
  width: 37vw;
  height: 24vw;
}

@media screen and (max-width: 575px) {
  .component1 .svg1-box {
    display: none;
  }
  .component1 .head-text {
    font-size: 7vw;
    line-height: 9vw;
  }
  .component1 .head-text span {
    font-size: 9.3vw;
  }
  .component1 .body-text {
    font-size: 2.5vw;
    line-height: 5vw;
    margin-right: 12vw;
  }
}
