.footer-vectors {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
.footer-items {
  width: 100%;
  position: fixed;
  bottom: 10px;
}
.footer-items .address,
.support-email {
  color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  margin: 10px;
}
.footer-items .horizontal-line {
  background-color: #cacaca;
  margin: 5px;
}
.footer-items .nav-link,
.nav-link-partition {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.65rem;
  padding: 0.5rem 0.5rem;
}
.footer-items .copyright {
  color: #cacaca;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0 0 5px 0;
}
