.footer {
  position: relative;
  bottom: 0;
}
.footer-items {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer-items .address,
.mail {
  color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1vmax;
  margin: 0.5vmax;
}
.footer-items .address-text,
.mail-text {
  margin: 0 0 0 0.5vmax;
}
.footer-items .media-handlers {
  font-size: 1vmax;
  margin: 1vmax 0.5vmax;
}
.footer-items .address-icon,
.mail-icon {
  height: 1.5vmax;
  width: 1.5vmax;
  fill: white;
  margin: 0 0.25vmax;
}
.footer-items .media-handlers .twitter-icon,
.facebook-icon,
.linkedin-icon,
.insta-icon,
.youtube-icon {
  height: 2vmax;
  width: 2vmax;
  fill: white;
  margin-right: 1vmax;
}

.footer-items .horizontal-line {
  background-color: #cacaca;
  margin: 5px 0 5px 0;
}
.footer-items .nav-link,
.nav-link-partition {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5vmax;
  padding: 0.5vmax 0.5vmax;
}
.footer-items .copyright {
  color: #cacaca;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1vmax;
  margin: 0 0 10px 0;
}
