.navbar {
  background: #ffffff;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  text-align: right;
}

.header .logo{
  width  : 3.5rem;
  height : 3.5rem;
  margin-left: 3.5vw;
}

.header .nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1vw 1.5vw 1vw 1.5vw;
  color: #545454;
}

.header .nav-link:hover {
  color: #545454;
}

.header .login-button {
  margin-left: 5vw;
  background: linear-gradient(to right, #ff5454 40%, #fdb797 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .navbar-toggler {
  margin: 1vw 2.5vw 1vw 1vw;
}


@media screen and (max-width: 1024px) {
  .header .nav-link {
    margin: 1.5vw 4.5vw 1vw 3vw;
  }
}
