.navbar {
  background: #ffffff;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  text-align: right;
}

.header .logo{
  width  : 3.5rem;
  height : 3.5rem;
  margin-left: 5rem;
}

.header .nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 1.5rem 0 1.5rem;
  color: #545454;
}

.header .nav-link:hover {
  color: #545454;
}

.header .login-button {
  margin-left: 5rem;
  background: linear-gradient(to right, #ff5454 40%, #fdb797 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .navbar-toggler {
  margin: 1rem 2rem 1rem 1rem;
}

@media screen and (max-width: 1024px) {
  .header .nav-link {
    margin: 1rem 2rem 0 3rem;
  }

  .header .logo {
    margin: 0 1.5rem 0 2.5rem;
  }
}
