.component6 .head .title{
     width: 100%;
     text-align: center;
     padding: 3.5vw 0 2vw 0;
     font-size: 4vw;
     font-family: Poppins;
     font-weight: bold;
     color: #545454;
}

.component6 .head .title span{
    color: #FF951A;
}

.component6 .card{
    width : 25%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    margin-left: 9vw;
    background-color: #FAFAFA;
    border-radius: 0;
    border-width: 0;
}

.component6 .card img{
    height: 13vw;
}

.component6 .card .card-title{
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 1.1vw;
    text-align: center;
    color :  #545454;
}

.component6 .card .card-body{
    padding : 1.4vw;
}

.component6 .card .card-text{
    margin-top: 1.5vw;
    font-family: Poppins;
    font-size: 0.8vw;
    text-align: justify;
    color :  #545454;
    margin-bottom: 2vw;
}

